.:5353 {
    log
    debug
    latency {
        redis_addr       redis:6379
        redis_password   pass
        redis_db         0
        key_prefix       latency_
        ttl              5
        max_ips          2
        max_latency_diff 200
        fallback          # pass through if no Redis data
    }
    forward . 1.1.1.1    # forward everything else upstream
}
